langchain
ipykernel
langchain-community
langchain-core
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain-ollama
langchain_chroma
langchain-groq
beautifulsoup4
streamlit
fastapi
uvicorn
langserve
ddgs
langchain-experimental